.input {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
    column-gap: 10px;
    width: 45%;
    height: 45%;
    background-color: beige;
}

.input input {
    width: 500px;
    height: 20px;
    font-size: 14px;
}

.input label {
    text-align: left;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input button {
    height: 25px;
    
}

.input button:hover {
    cursor: pointer;    
}