body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.view{
  padding-top: 5px;
}
.update{
  background-color: yellowgreen;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 10%;
}
.delete{
  background-color: firebrick;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 10%;
}
.add{
  background-color: cornflowerblue;
  border-color: white;
  border-radius: 10%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
